<div class="Container"> <!-- start container -->

  <div class="row"> <!-- start top row -->

    <div class="col-2 border border-right border-dark position-fixed side-bar "> <!-- start channel select col -->

    <div class="row">

    <h2 class="offset-2 mb-5 mt-4"> Channels </h2> <!-- Title -->

    </div>

    <div id="channels"> <!-- start channel append div> -->


      <div class="p-0 mb-4 col"> <!-- start channel 1 col -->

        <div class="row"> <!-- start channel 1 row -->

            <button class="text-center m-0 col-10 text-light chan-link" >Channel 1</button> <!-- get rid of later, this is used as an example -->

            <button class=" m-0 col-2 chan-link">X</button> <!-- X button -->

          </div> <!-- end channel 1 row -->

      </div> <!-- end channel 1 col -->

      <div class="p-0 mb-4 col"> <!-- start channel 2 col -->

        <div class="row"> <!-- start channel 2 row -->

            <button class="text-center m-0 col-10 text-light chan-link">Channel 2</button> <!-- get rid of later, this is used as an example -->

            <button class="m-0 col-2 chan-link">X</button> <!-- X button -->

          </div> <!-- end channel 2 row -->

      </div> <!-- end channel 2 col -->

      


    </div> <!-- end channel append div> -->

    <button class="fixed-bottom chan-link footer">
      <p class="text-light">Settings</p>
      </button>

    </div> <!-- end channel select col -->

     <div class="col-3 mt-5 main"> <!-- start main text col -->

     <div class="main-title"> <!-- start title -->

       <h2>Welcome to</h2>

      <h1>WhatsChat</h1>

      </div> <!-- end title -->

      <div class="title-buttons"> <!-- start login/sign up buttons div -->

        <div class="row"> <!-- start login button row -->

          <button class="border col"> <!-- start login button col --> <!-- on click redirects to login page -->

            <p>Login</p>

          </button> <!-- end login button col -->

        </div> <!-- end login button row -->

        <p class="my-2 text-center">or</p>

        <div class="row"> <!-- start sign up button row -->

          <button class="border col"> <!-- start sign up button col --> <!-- on click redirects to sign up page -->

            <p>Sign up</p>

          </button> <!-- end sign up button col -->

        </div> <!-- end sign up button row -->

      </div> <!-- end login/sign up buttons div -->

    </div> <!-- end main text col -->

  </div> <!-- end top row -->

</div> <!-- end container -->