<!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Welcome to WhatsChat!</h2>
        {{!-- <form class="clearfix mb-4" action="POST"> --}}
          {{!-- <div class="form-group">
            <label for="channel-text">Pick a channel to join!</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div> --}}
          <a href="/login"><button class="btn btn-primary">Login!</button></a>
          <a href="/signup"><button  class="btn btn-primary">Signup!</button></a>
          <br>
        {{!-- </form> --}}
        <h3>Messages:</h3>
        <ul id="example-list" class="list-group">
          {{#each login}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.username}}">{{this.password}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> -->

<div class="Container"> <!-- start container -->

  <div class="row"> <!-- start top row -->

    <div class="col-2 border border-right border-dark" style="background: #016FB9; height: 680px;"> <!-- start channel select col -->

    <h2 class="offset-2 mb-5 mt-4"> Channels </h2> <!-- Title -->

    <div id="channels"> <!-- start channel append div> -->


      <div class="p-0 col"> <!-- start channel 1 col -->

        <div class="row"> <!-- start channel 1 row -->

            <p class="text-center m-0 col-10 text-light" style="background: #004777">Channel 1</p> <!-- get rid of later, this is used as an example -->

            <p class=" m-0 col-2 " style="background: #004777">X</p> <!-- X button -->

          </div> <!-- end channel 1 row -->

      </div> <!-- end channel 1 col -->


    </div> <!-- end channel append div> -->

    <p>Settings</p>

    </div> <!-- end channel select col -->

     <div class="col-3 mt-5 offset-3"> <!-- start main text col -->

      <h1 class="offset-3">WhatsChat</h1>

      <div class="row mt-4"> <!-- start login/sign up buttons row -->

        <div class="border col-3 offset-3"> <!-- start login button col --> <!-- on click redirects to login page -->

          <p>Login</p>

        </div> <!-- end login button col -->

        <div class="border col-3 offset-1"> <!-- start sign up button col --> <!-- on click redirects to sign up page -->

          <p>Sign up</p>

        </div> <!-- end sign up button col -->

      </div> <!-- end login/sign up buttons row -->

    </div> <!-- end main text col -->

  </div> <!-- end top row -->

</div> <!-- end container -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
