<!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Welcome to WhatsChat!</h2>
        {{!-- <form class="clearfix mb-4" action="POST"> --}}
          {{!-- <div class="form-group">
            <label for="channel-text">Pick a channel to join!</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div> --}}
          <a href="/login"><button class="btn btn-primary">Login!</button></a>
          <a href="/signup"><button  class="btn btn-primary">Signup!</button></a>
          <br>
        {{!-- </form> --}}
        <h3>Messages:</h3>
        <ul id="example-list" class="list-group">
          {{#each login}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.username}}">{{this.password}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> -->

<body class="main-menu"> <!-- start body -->

  <div class="row"> <!-- start top row -->

     <div class="col-3 mt-5 main"> <!-- start main text col -->

     <div class="main-title"> <!-- start title -->

       <h2>Welcome to</h2>

      <h1>WhatsChat</h1>

      </div> <!-- end title -->

      <div class="title-buttons"> <!-- start login/sign up buttons div -->

        <a href="/login"><div class="row"> <!-- start login button row -->

          <button class="col chan-link "> <!-- start login button col --> <!-- on click redirects to login page -->

            <p>Login</p>

          </button> <!-- end login button col -->

        </div></a> <!-- end login button row -->

        <p class="my-2 text-center">or</p>

        <a href="/signup"><div class="row"> <!-- start sign up button row -->

          <button class="col chan-link "> <!-- start sign up button col --> <!-- on click redirects to sign up page -->

            <p>Sign up</p>

          </button> <!-- end sign up button col -->

        </div></a> <!-- end sign up button row -->

      </div> <!-- end login/sign up buttons div -->

    </div> <!-- end main text col -->

  </div> <!-- end top row -->

</body> <!-- end body -->
