
<body class="main-menu"> <!-- start body -->

  <div class="row"> <!-- start top row -->

     <div class="col-3 mt-5 main"> <!-- start main text col -->

     <div class="main-title"> <!-- start title -->

       <h1>Welcome to</h1>

      <h2>WhatsChat</h2>

      </div> <!-- end title -->

      <div class="title-buttons"> <!-- start login/sign up buttons div -->

        <a href="/login"><div class="row"> <!-- start login button row -->

          <button class="col chan-link "> <!-- start login button col --> <!-- on click redirects to login page -->

            <p>Login</p>

          </button> <!-- end login button col -->

        </div></a> <!-- end login button row -->

        <p class="my-2 text-center">or</p>

        <a href="/signup"><div class="row"> <!-- start sign up button row -->

          <button class="col chan-link "> <!-- start sign up button col --> <!-- on click redirects to sign up page -->

            <p>Sign up</p>

          </button> <!-- end sign up button col -->

        </div></a> <!-- end sign up button row -->

      </div> <!-- end login/sign up buttons div -->

    </div> <!-- end main text col -->

  </div> <!-- end top row -->

</body> <!-- end body -->
