
<body>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card mt-4">
                    <div class="card-body" id="form">
                        <h4>Welcome to WhatsChat!</h4>
                        <h5 class="card-title">Login or Sign-Up to start chatting today!</h5>
                        <form action="action_page.php" method="post" >

                            <label for="name"><i class="fas fa-user"></i>  <b>Name:</b></label>
                            <input type="name" placeholder="Enter Name" name="name" required>
                            <br>
                            <label for="psw"><i class="fas fa-lock"></i>  <b>Password:</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required>
                            <br>
                            <button type="submit"><i class="fa fa-sign-in-alt"></i>  Login</button>
                            

                        <button type="button" class="cancelbtn">Cancel</button><br>
                        <a href="#"><span class="psw"><i class="fas fa-lock"></i> Forgot password?</span></a>


                    </form>
                    <a href="/"><i class="fas fa-home"></i> Back To Home</a>
                </div>
            </div>
        </div>
    </div>

</body>

