
<body>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card mt-4">
                    <div class="card-body" id="form">
                        <h4>Welcome to WhatsChat!</h4>
                        <h5 class="card-title">Login or Sign-Up to start chatting today!</h5>
                        <form id="loginuser">

                            <label for="name"><i class="fas fa-user"></i>  <b>Name:</b></label>
                            <input type="name" placeholder="Enter Name" name="name" required>
                            <br>
                            <label for="psw"><i class="fas fa-lock"></i>  <b>Password:</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required>
                            <br>
                            <button type="submit"><i class="fa fa-sign-in-alt"></i>  Login</button>
                            {{!-- <button type="submit"><i class="fas fa-user-plus"></i>  Sign Up</button> --}}

                        <button type="button" class="cancelbtn">Cancel</button><br>
                        <a href="#"><span class="psw"><i class="fas fa-lock"></i> Forgot password?</span></a>


                    </form>
                    <a href="/"><i class="fas fa-home"></i> Back To Home</a>
                    <br>
                    <a href="/signup"><i class="fas fa-user-plus"></i>   Go to sign Up page</a>
                </div>
            </div>
        </div>
    </div>

</body>

