{{!-- logo --}}
<div id="wh1">
  <h1>Welcome to WhatsChat, <span id="user">{{user}}</span></h1>
  <h5>Users connected : <span id="counter"></span> <span id="typing"></span></h5>
  <button type="submit" id="logout"><a href="/logout"><span id="logout_text">Logout</span></button></a>
</div>
<div style="margin-top: 150px;">
  <ul class="messages" style="list-style-type:none"></ul>
</div>
<form id="wform">
  <input type="text" class="input" id="winput" autocomplete="off" autofocus required />
  <button id="wbutton">Send</button>
</form>
<style>
  
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>