{{!-- logo --}}
<div style="position: fixed; z-index: 2; width: 100%; top: 0; background-color:#016FB9;">
<h1>Welcome to WhatsChat, <span id="user">{{user}}</span></h1>
<button type="submit" id="logout"><a href="/logout"><span id="logout_text">Logout</span></button></a><br><br>
</div>
<div style="margin-top: 110px;;">
<ul class="messages" style="list-style-type:none"></ul>
</div>
<form style="position: fixed; z-index: 2; width: 100%; bottom: 0; background-color:#016FB9;">
  <input type="text" class="input" autocomplete="off" autofocus />
  <button>Send</button>
</form>
<style>
  
    form {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 0.25rem;
    }

    form input {
        border: 0;
        padding: 0.5rem;
        width: 100%;
        outline: 0;
        margin-right: 0.5rem;
        border-radius: 0.25rem;
        background: #ccc;
    }

    form button {
        width: 6rem;
        background-color: #1b8c00;
        color: white;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.25rem;
        text-transform: uppercase;
    }

    form button:hover {
        background-color: #166d01;
    }

    .messages {
        margin: 0;
        padding: 0;
        margin-bottom: 3rem;
    }

    .messages li {
        padding: 0.5rem;
    }

    .messages li:nth-child(odd) {
        background: #ffc79a;
    }
    .messages li:nth-child(even) {
        background: #f19953;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  
  const form = document.querySelector("form");
  const input = document.querySelector(".input");
  const messages = document.querySelector(".messages");
  const username = $("#user").text();
  const socket = io();

  form.addEventListener("submit", function (event) {
    event.preventDefault();

    addMessage(username + ": " + input.value);

    socket.emit("chat_message", {
      message: input.value
    });

    input.value = "";
    return false;
  }, false);

  socket.on("chat_message", function (data) {
    addMessage(data.username + ": " + data.message);
  });

  socket.on("user_join", function (data) {
    addMessage(data + " just joined the chat!");
  });

  socket.on("user_leave", function (data) {
    addMessage(data + " has left the chat.");
  });

  addMessage("You have joined the chat as '" + username + "'.");
  socket.emit("user_join", username);

  function addMessage(message) {
    const li = document.createElement("li");
    li.innerHTML = message;
    messages.appendChild(li);
    window.scrollTo(0, document.body.scrollHeight);
  }
</script>
