<h1>Welcome to WhatsChat {{user}}</h1>

<div id="messages">
    <ul>
    {{#each msg}}
    <li style="list-style-type: none;">
        {{this.user}} : {{this.message}}
    </li>
    {{/each}}
    </ul>
</div>
<form id="chat">
    <input type="name" placeholder="Enter Username" name="name" required>
    <button type="submit" class="btn btn-primary">
        Submit</button>
</form>