<!-- logo -->
<!-- <div id="wh1">
<img src="/images/whatsCHAT225.png" class="img-fluid" id="logo_small">
<span class="welcome-text">Welcome, </span><span id="user">{{user}}</span>
<h5>Users connected: <span id="counter"></span> <span id="typing"></span></h5>
<button type="submit" style="float:right" id="logout"><a href="/logout"><span id="logout_text">Logout</span></button></a>
</div> -->
<header>
  <div class="container">
    <nav class="navbar fixed-top navbar-expand my-bg justify-content-between">
      <span class="navbar-brand">
        <img src="/images/whatsCHAT225.png" class="navbar-brand" id="logo_small"><span id="connected-text">Welcome, <span
          id="user">{{user}}</span>!</span>
      </span>
      <div class="form-inline">
        <button class="btn btn-outline-primary mr-2" type="submit" data-toggle="modal"
          data-target="#exampleModalCenter">SETTINGS</button>
        <button class="btn btn-outline-warning" type="submit"><a href="/logout"><span
              id="logout_text">LOGOUT</span></a></button>
      </div>
    </nav>
  </div>
</header>

<div class="header-placeholder"></div>



<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary settings" data-toggle="modal" data-target="#exampleModalCenter">
  settings
</button>
  <br><br>
</div> -->
<!-- <img src="/images/whatsCHAT225.png" class="navbar-brand" id="logo_small">Welcome, {{user}}! -->

{{!-- Messages section --}}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="margin-top: 0px;">
        <ul class="messages" style="list-style-type:none"></ul>
      </div>
    </div>
  </div>
</div>

<div class="text-center my-footer">
    <div class="row">
      <div class="col-12">
        <h5><span id="connected-text">Users connected: <span id="counter"></span> <span id="typing"></span></span></h5>
      </div>
    </div>
      <div class="row">
        <div class="col-12">
          <form>
            <input type="text" class="input" id="winput" autocomplete="off" autofocus required /><button
              id="wbutton">Send</button>
          </form>
        </div>
      </div>
</div>

<div class="footer-placeholder"></div>

{{!-- <footer class="container-fluid">
  <nav class="navbar fixed-bottom">
<h5>Users connected: <span id="counter"></span> <span id="typing"></span></h5>
  
  
<form class="form-inline">
  <input type="text" class="input" id="winput" autocomplete="off" autofocus required />
  <button id="wbutton">Send</button>
</form>
</nav>
</footer> --}}



{{!-- <form id="wform">
  <h5>Users connected: <span id="counter"></span> <span id="typing"></span></h5>
  <input type="text" class="input" id="winput" autocomplete="off" autofocus required />
  <button id="wbutton">Send</button>
</form> --}}



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="changeName">
          <label for="newName"><b>Change your username permanently?</b></label>
          <br>
          <input type="text" placeholder="Ex: PERSON33" name="newName">
          <input type="hidden" value="{{user}}" name="name">
          <br><br>
          <p>Warning: you will be logged out after making changes, do not forget your info. Username will be converted
            to all caps</p>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" Save changes>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>