
.main-menu {
    background-color: #016FB9;
    width: 100%;
}

.container {
    background-color: #016FB9;
    text-align  : center;
}

#form {
    background-color: #004777;
    color: white;
}

.chan-link {
    background: #004777; 
    display: inline-block; 
    border: none;
}

.footer {
    height: 30px;
    width: 222px;
    text-align: center;
}

.side-bar {
    background: #016FB9;
    height: 690px;
    width: 240px;
}

.main {
    margin-left: 550px;
    height: 300px;
}

.main-title {
    text-align: center;
}

.title-buttons {
    margin-top: 100px;

}

.chat-area {
    margin-left: 290px;
    height: 550px;
    overflow: scroll;
}

.msg-area {
    border-style: solid;
    width: 700px;
    min-height: 600px;
    font-size: 20px;
}

.msg-recv {
    background-color: greenyellow;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50px;
    float: left;
}

.msg-sent {
    background-color: lightblue;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50px;
    float: right;
}

.msg-input{
    width: 1000px;
    position: relative;
    left: 290px;
}

.msg-submit{
    position: relative;
    left: 290px;
    bottom: 20px;
    height: 55px;
    width: 100px;
}