
.main-menu {
    background-color: #016FB9;
    width: 1400px;
    font-family: 'PT Sans', sans-serif;
    margin: auto;
}

.container, body {
    background-color: #016FB9;
    text-align  : center;
    font-family: 'PT Sans', sans-serif;
}

#form, #card, .card {
    background-color: #004777;
    color: white;
    height: 300px;
    font-family: 'PT Sans', sans-serif;
    
}

.chan-link {
    background: #004777; 
    display: inline-block; 
    border: none;
    font-family: 'PT Sans', sans-serif;
}

#logout {
    background-color: #f19953;
    width: 6rem;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-transform: uppercase;
    text-decoration: none;
}

#logout:hover {
    background-color: #e27720;
    color: white;
    text-decoration: none;

}
#logout_text {
    color: white;
}

#logout_text:hover {
    text-decoration: none;    
    color: white;
}

.footer {
    height: 30px;
    width: 222px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.side-bar {
    background: #016FB9;
    height: 690px;
    width: 240px;
    font-family: 'PT Sans', sans-serif;
}

.main {
    margin-left: 550px;
    height: 300px;
    font-family: 'PT Sans', sans-serif;
}

.main-title {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.title-buttons {
    margin-top: 100px;
    font-family: 'PT Sans', sans-serif;

}

.chat-area {
    margin-left: 290px;
    height: 550px;
    overflow: scroll;
}

.msg-area {
    border-style: solid;
    width: 700px;
    min-height: 600px;
    font-size: 20px;
}

.msg-recv {
    background-color: greenyellow;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50px;
    float: left;
}

.msg-sent {
    background-color: lightblue;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50px;
    float: right;
}

.msg-input{
    width: 1000px;
    position: relative;
    left: 290px;
}

.msg-submit{
    position: relative;
    left: 290px;
    bottom: 20px;
    height: 55px;
    width: 100px;
}

a:hover {
    text-decoration: none;
}